@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-gray-50: oklch(0.958 0.004 271.37);
  --color-gray-100: oklch(0.916 0.008 278.63);
  --color-gray-150: oklch(0.875 0.01 279.37);
  --color-gray-200: oklch(0.828 0.012 279);
  --color-gray-250: oklch(0.782 0.017 279.73);
  --color-gray-300: oklch(0.742 0.024 278.9);
  --color-gray-400: oklch(0.652 0.032 278.37);
  --color-gray-500: oklch(0.559 0.04 277.73);
  --color-gray-600: oklch(0.477 0.032 277.85);
  --color-gray-700: oklch(0.392 0.024 278.04);
  --color-gray-750: oklch(0.342 0.024 277.8);
  --color-gray-800: oklch(0.304 0.018 277.6);
  --color-gray-850: oklch(0.235 0.012 277.72);
  --color-gray-900: oklch(0.206 0.008 277.83);
  --color-gray-950: oklch(0.151 0.004 285.34);

  --background: oklch(0.151 0.004 285.34);
  --foreground: oklch(0.652 0.032 278.37);

  --card: oklch(0.206 0.008 277.83);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.206 0.008 277.83);
  --popover-foreground: oklch(0.652 0.032 278.37);

  --primary: oklch(0.958 0.004 271.37);
  --primary-foreground: oklch(0.206 0.008 277.83);

  --secondary: oklch(0.304 0.018 277.6);
  --secondary-foreground: oklch(0.958 0.004 271.37);

  --muted: oklch(0.235 0.012 277.72);
  --muted-foreground: oklch(0.559 0.04 277.73);

  --accent: oklch(0.235 0.012 277.72);
  --accent-foreground: oklch(0.958 0.004 271.37);

  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}
@layer base {
  :root {
    --grid-margin: 0px;
    --content-max-width: 1296px;
    @apply lg:[--grid-margin:2rem];
  }

  body {
    @apply antialiased text-base bg-background text-foreground;
  }

  * {
    @apply border-border outline-ring/50;
  }

  .grid-area-stack {
    grid-area: 1/1;
  }

  .content-grid {
    @apply gap-4 lg:gap-x-8;

    display: grid;
    grid-template-columns:
      [full-width-start]
      minmax(var(--grid-margin), 1fr)
      [content-start]
      minmax(0, calc((var(--content-max-width) - 2 * var(--grid-margin)) / 12 * 2))
      [narrow-start]
      repeat(8, minmax(0, calc((var(--content-max-width) - 2 * var(--grid-margin)) / 12)))
      [narrow-end]
      minmax(0, calc((var(--content-max-width) - 2 * var(--grid-margin)) / 12 * 2))
      [content-end]
      minmax(var(--grid-margin), 1fr)
      [full-width-end];
  }

  .content-grid > :not(.content-full-width):not([class*='col-']) {
    grid-column: content;
  }

  .content-grid > .content-full-width {
    grid-column: full-width;
  }

  @media (min-width: 1024px) {
    .content-grid > .content-narrow {
      grid-column: narrow !important;
    }
  }
}

@layer components {
  .prose {
    a {
      @apply underline-offset-2 underline transition-colors duration-200;
      &:hover {
        @apply text-primary;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-semibold;
    }
    h1 {
      @apply text-3xl lg:text-4xl mb-12;
    }
    * + h1 {
      @apply mt-12;
    }
    h2 {
      @apply text-2xl lg:text-3xl mb-8;
    }
    * + h2 {
      @apply mt-8;
    }
    h3 {
      @apply text-xl lg:text-2xl mb-6;
    }
    * + h3 {
      @apply mt-6;
    }
    h4 {
      @apply text-lg lg:text-xl mb-6;
    }
    * + h4 {
      @apply mt-6;
    }

    p + * {
      @apply mt-6;
    }

    ul {
      list-style-type: none;
      padding-inline-start: 0;
    }
    li {
      @apply my-4 ml-8 relative list-disc;
    }
    blockquote {
      @apply border-l-4 border-gray-500 pl-4 italic text-gray-600 mb-12 py-4;
    }
    * + blockquote {
      @apply mt-12;
    }
    hr {
      @apply my-6 border-t border-gray-300;
    }
  }
}
@media (prefers-reduced-motion: reduce) {
  .transition {
    transition: none !important;
  }
}
